<!DOCTYPE html>
<html>
    <title>О приложении</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <style>
        body, h1 {
            font-family: "Montserrat", sans-serif
        }

        body, html {
            height: 100%
        }

        .bgimg {
            min-height: 100%;
            background: url('forestbridge.jpg') center;
            background-size: cover;
        }
    </style>
    <body>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
            <div class="w3-display-topleft w3-padding-large w3-xlarge">
                Domino-observer
            </div>
            <div class="w3-display-middle">
                <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
                <hr class="w3-border-grey" style="margin:auto;width:40%">
                <p class="w3-large w3-center">Осталось ${days} дней</p>
            </div>
        </div>
    </body>
</html>